header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
  height: 130px;
  width: 100%;
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid #aaaaaa;
  background: #e5e5e5;
  h1 {
    margin: 0;
  }
  @media (max-width: 768px) {
    padding: 0 50px;
    border: none;
    height: 100px;
  }
  .description {
    color: #111111;
    font-size: 1.2em;
    @media (max-width: 768px) {
      font-size: 1.1em;
    }
  }
}
