.home {
  .card {
    width: 560px;
    background: white;
    margin: 50px auto 0 auto;
    padding: 40px;
    border-radius: 20px;
    @media (max-width: 768px) {
      margin-top: 10px;
      height: 100%;
      width: 100%;
      padding: 30px;
    }
    .card-title {
      font-family: "Inter", sans-serif;
      color: #111111;
      font-weight: 600;
      font-size: 1.1em;
      @media (max-width: 768px) {
        font-size: 1em;
      }
    }
  }
}
